<h1>Show Exercise</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @exercise.title %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.exercise_path(@conn, :edit, @exercise) %></span>
<span><%= link "Back", to: Routes.exercise_path(@conn, :index) %></span>
